<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filter Button Component</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <aside class="filter">
      <ul class="filter-category">
        <li class="filter-category-item all">
          <button type="button" data-id="전체">전체</button>
        </li>
        <li class="filter-category-item gu-list">
          <button type="button">구별보기</button>
        </li>
      </ul>
      <div class="filter-list">
        <ul>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="강남구">
              강남구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="강동구">
              강동구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="강북구">
              강북구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="강서구">
              강서구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="관악구">
              관악구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="광진구">
              광진구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="구로구">
              구로구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="금천구">
              금천구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="도봉구">
              도봉구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="동대문구">
              동대문구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="동작구">
              동작구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="마포구">
              마포구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="서대문구">
              서대문구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="서초구">
              서초구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="성동구">
              성동구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="성북구">
              성북구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="송파구">
              송파구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="양천구">
              양천구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="영등포구">
              영등포구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="용산구">
              용산구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="은평구">
              은평구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="종로구">
              종로구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="중구">
              중구
            </button>
          </li>
          <li class="filter-item">
            <button type="button" class="filter-button" data-id="중랑구">
              중랑구
            </button>
          </li>
        </ul>
      </div>
    </aside>

    <script>
      const filterCategoryBtns = document.querySelectorAll(
        '.filter-category-item'
      );
      const all = document.querySelector('.filter-category-item.all');
      const guList = document.querySelector('.filter-category-item.gu-list');
      const filterBtnList = document.querySelector('.filter-list');
      const filterBtns = document.querySelectorAll('.filter-button');

      // 전체 + 구별보기
      filterCategoryBtns.forEach((button) => {
        button.addEventListener('click', function (e) {
          removeClass(filterCategoryBtns);
          button.classList.toggle('is-active');
        });
      });

      guList.addEventListener('click', function (e) {
        filterBtnList.classList.toggle('is-shown');
      });

      if (
        !guList.classList.contains('is-active') &&
        all.classList.contains('is-active')
      ) {
        filterBtnList.classList.remove('is-shown');
      }

      filterBtns.forEach((button) => {
        button.addEventListener('click', function (e) {
          removeClass(filterBtns);
          button.classList.toggle('is-active');
        });
      });

      function removeClass(btns) {
        btns.forEach((button) => {
          console.log(button);
          if (button.classList.contains('is-active')) {
            button.classList.remove('is-active');
          }
        });
      }
    </script>
  </body>
</html>
