$sidebar-background: #a6c8e0;

.hide {
  display: none;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $sidebar-z;
  max-width: 400px;
  height: 100vh;
  padding: 0 12px 0;
  background-color: $sidebar-background;
  overflow: scroll;
  transition: transform 350ms ease-in-out;
  transform: translate3d(-100%, 0, 0);

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &-header {
    position: sticky;
    top: 0;
    z-index: $sidebarheader-z;
    padding: 36px 6px 12px;
    background-color: $sidebar-background;
    border-bottom: 1.5px solid black;

    h1 {
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 20px;
      line-height: -0.01em;
    }

    p {
      font-size: 16px;
      line-height: 1.625;
      letter-spacing: -0.01em;
    }
  }

  &-item {
    padding: 24px 6px;
    border-bottom: 1px solid #666;

    &:last-child {
      border-bottom: none;
    }

    &-title {
      margin-bottom: 12px;
      font-weight: 600;
      font-size: 16px;
    }

    &-desc {
      margin-bottom: 6px;
      font-size: 14px;
      line-height: 1.625;
      letter-spacing: -0.01em;

      & > strong {
        display: block;
      }
    }
  }

  &-open-button {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: $sidebarbtn-z;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: $white;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    border-color: #8c8d95;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 7%);
    transition: background-color 250ms ease-in-out;

    &:hover,
    &.is-active {
      background-color: $fc-blue;
      color: black;
    }

    span {
      color: inherit;
      display: inline-block;
      width: 100%;
      transform: rotate(0);
      transition: transform 250ms ease-in-out;

      .is-active {
        transform: rotate(45deg);
      }
    }
  }

  .placeholder {
    padding: 24px 6px;
    font-size: 16px;
    color: #8c8d96;
  }

  @media screen and (max-width: $md-breakpoint) {
    width: 100%;

    &-header {
      h1 {
        margin-bottom: 12px;
        font-size: 18px;
      }

      p {
        font-size: 14px;
        line-height: 1.25;
      }
    }

    &-item {
      padding: 18px 6px;
    }

    &-open-button {
      font-size: 30px;
      top: 12px;
      right: 12px;
      font-weight: 400;
      padding: 0;
      background: none;
      border: none;
      box-shadow: none;

      &:hover,
      &.is-active {
        background: none;
      }

      span {
        font-weight: 400;
      }
    }
  }
}
