body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  height: 100vh;
  min-height: 100vh;
  padding: 0 24px 36px;
  background-color: pink;
  overflow: scroll;
  transition: transform 350ms ease-in-out;
  transform: translate3d(-100%, 0, 0);

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &-header {
    position: sticky;
    top: 0;
    z-index: 30;
    padding: 36px 2px 12px;
    background-color: pink;
    border-bottom: 1.5px solid black;

    h1 {
      margin-bottom: 18px;
      font-weight: 700;
      font-size: 20px;
      line-height: -0.01em;
    }

    p {
      margin-bottom: 12px;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: -0.01em;
    }
  }

  &-content {
    padding: 24px 0;

    .placeholder {
      font-style: inherit;
      font-size: 16px;
      color: #8c8d96;
    }
  }

  &-item {
    position: relative;
    padding: 0 2px;
    margin-bottom: 24px;
    border-bottom: 1px solid #666;

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;

      p:last-child {
        margin-bottom: 0;
      }
    }

    h3 {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 18px;
    }

    p {
      margin-bottom: 6px;
      font-size: 16px;
      line-height: 1.1;
      letter-spacing: -0.01em;

      &:last-child {
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 1.1;
        letter-spacing: -0.01em;
      }
    }
  }

  /* .sidebar-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;
    bottom: -18px;
  } */

  /* @@@ */
  &-open-button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 16px 24px;
    border-radius: 4px;
    background-color: #f8fafb;
    font-size: 14px;
    line-height: 20px;
    color: #4d5256;
    cursor: pointer;
    border-color: #ced3d6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 7%);

    &:hover {
      background-color: #eaeeef;
      color: #4d5256;
    }
  }
}
