// Color Pallette
$black: #000;
$dark: #292a2b;
$primary: #4d5256;
$secondary: #878d91;
$tertiary: #e1e4e6;
$border: #ced3d6;
$background: #f8fafb;
$white: #fff;

// filter
$fc-blue: #5284a8;
$fc-blue-dark: #6787a7;
$white: #f8fafb;

// sidebar
$background: #a6c8e0;

$green: #35d48d;
$red: #ff5d5d;
