// Color Pallette
$black: #000;
$dark: #292a2b;
$primary: #4d5256;
$secondary: #878d91;
$tertiary: #e1e4e6;
$border: #ced3d6;
$background: #f8fafb;
$white: #fff;

$blue: #3da5f5;
$blue-dark: #3186c4;
$blue-light: #ecf6fe;

$green: #35d48d;
$red: #ff5d5d;
