$font-main: 'Noto Sans KR', sans-serif;

// 마커 팝업
$font-size-12: 12px;
$line-height-12: 16px;
$letter-spacing-12: -0.05em;

$font-size-14: 14px;
$line-height-14: 24px;
$letter-spacing-14: -0.01em;

// 본문
$font-size-16: 16px;
$line-height-16: 24px;
$letter-spacing-16: -0.01em;

// 사이드바
$font-size-18: 18px;
$line-height-18: 28px;
$letter-spacing-18: -0.02em;

$font-size-20: 20px;
$line-height-20: 30px;
$letter-spacing-20: -0.01em;

// 인트로
$font-size-24: 24px;
$line-height-24: 34px;
$letter-spacing-24: -0.01em;
